/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	display:flex;
	justify-content:center;
}
.book-library{
	background-color:#ffffff;
	width:400px;
}
.book-library h1{
	text-align:center;
}
.book-library .book{
	background-color:#f8f8f8;
	display:fle


}

